<h1>Cd</h1>
<form action="add-cd" method="post">
  <label for="name">Enter the name of the artist: </label>
  <input id="name" type="text" name="name">
  <label for="genre">Enter the genre of the artist: </label>
  <input id="genre" type="text" name="genre">
  <button type="submit" name="button">Add</button>
</form>

<h1>Current CDs:</h1>
<ul>
  @foreach(var artist in Model)
  {
    <li><a href="/cd/@artist.GetId()">@artist.GetName() - @artist.GetGenre() </a></li>
  }
</ul>

<a href="/artist-list">List by artist</a>
